/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2019, 1:29:14 PM
    Author     : LAPTOP
*/

@charset "UTF-8";
/* CSS Document */

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

header {
	padding: 32px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	padding: 20px 30px;
	background-color: #dbecf1;
}

body {
	margin-left: auto;
	margin-right: auto;
	background: #e6f4f8;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 192px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #2F322A;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}

#user  {
		float: right;
                padding-bottom: 50px;
	}

/*Tablet View*/

@media (min-width: 768px){
	
/*	body {
		max-width: 778px;
	}*/
	
	.style-nav ul li {
		display: inline-block;
	}
	
/*	.style-nav ul {
		text-align: center;
	}*/
	
/*	h1 {
		font-size: 40px;
		margin-bottom: 90px;
	}
	
	h2 {
		margin-bottom: 16px;
	}
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}*/
}

/*Desktop View*/

@media (min-width: 1024px){
	
/*	body {
		max-width: 1200px;
	}
	*/
	.style-logo  {
		float: left;
                
	}
	
	.style-nav {
		float: right;
               
	}
	
/*	.col-lg-one-fourth {
		width: 25%;
	}*/
}

